p {
    color: rgb(79, 44, 4) 
}
  
h1{font-size: 80px;
padding: 40px 70px 40px;
text-align: center;
}

body {
    background-color: rgb(233, 255, 229);
width: 900px;
margin:auto;
padding: 20px 50px 20px;
border: 5px solid rgb(205, 228, 198);


}
